bazel-*
bazel-bin/
bazel-out/
bazel-testlogs/
bazel-cache/
bazel-workspace/

*.class
*.jar
*.war
*.ear
*.log

target/
.mvn/
build/
.gradle/
!gradle/wrapper/gradle-wrapper.jar

.idea/
*.iml
*.iws
*.ipr
.vscode/
*.sw?
